
<p>
   Body Content : <%= data.snippetBody %>
   <br>
   unique id :<%= data.shortUrl %>
   <br> 
   total view count : <%= data.clickCount %><br>
   createdBy : <%= data.postedBy.name %> ,<%= data.postedBy.email %>

</p>

